appdirs==1.4.4
astroid==2.5.1
CacheControl==0.12.6
cachetools==4.2.1
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
chromedriver-autoinstaller==0.2.2
colorama==0.4.4
cx-Freeze==6.5.3
distlib==0.3.1
filelock==3.0.12
firebase-admin==4.5.3
google-api-core==1.26.3
google-api-python-client==2.1.0
google-auth==1.28.1
google-auth-httplib2==0.1.0
google-cloud-core==1.6.0
google-cloud-firestore==2.1.0
google-cloud-storage==1.37.1
google-crc32c==1.1.2
google-resumable-media==1.2.0
googleapis-common-protos==1.53.0
grpcio==1.37.0
httplib2==0.19.1
idna==2.10
importlib-metadata==3.4.0
isort==5.7.0
lazy-object-proxy==1.5.2
lxml==4.6.2
mccabe==0.6.1
msgpack==1.0.2
numpy==1.20.2
opencv-contrib-python==4.5.1.48
packaging==20.9
proto-plus==1.18.1
protobuf==3.15.8
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
pylint==2.7.2
pyparsing==2.4.7
PySide2==5.15.2
pytz==2021.1
requests==2.25.1
reusable==0.0.7
rsa==4.7.2
selenium==3.141.0
shiboken2==5.15.2
six==1.15.0
toml==0.10.2
uncurl==0.0.6
undetected-chromedriver==2.2.1
uritemplate==3.0.1
urllib3==1.26.3
virtualenv==20.4.2
wrapt==1.12.1
zipp==3.4.0
